build/bin/
build/tmp/
build/devices/esp32/xsProj/sdkconfig.defaults.prior
build/devices/esp32/xsProj/sdkconfig.mc
build/devices/esp32/xsProj/sdkconfig.old
build/devices/esp32/xsProj/build
libraries/esp/
.DS_Store
.idea/
build/devices/qca4020/xsProj/build/gcc/app.*
build/devices/qca4020/xsProj/build/gcc/dbg.*
build/devices/qca4020/xsProj/build/gcc/dictLog
build/devices/qca4020/xsProj/build/gcc/output/

