build/bin/
build/tmp/
build/devices/esp32/xsProj/sdkconfig.defaults.prior
build/devices/esp32/xsProj/sdkconfig.mc
build/devices/esp32/xsProj/sdkconfig.old
build/devices/esp32/xsProj/build
build/devices/esp32/xsProj-esp32/sdkconfig.defaults.prior
build/devices/esp32/xsProj-esp32/sdkconfig.mc
build/devices/esp32/xsProj-esp32/sdkconfig.old
build/devices/esp32/xsProj-esp32/build
build/devices/esp32/xsProj-esp32s2/sdkconfig.defaults.prior
build/devices/esp32/xsProj-esp32s2/sdkconfig.mc
build/devices/esp32/xsProj-esp32s2/sdkconfig.old
build/devices/esp32/xsProj-esp32s2/build
build/devices/esp32/sdkconfig-s2-psram/sdkconfig.old
build/devices/esp32/sdkconfig-s2-psram/sdkconfig.defaults.prior
libraries/esp/
.DS_Store
.idea/
build/devices/qca4020/xsProj/build/gcc/app.*
build/devices/qca4020/xsProj/build/gcc/dbg.*
build/devices/qca4020/xsProj/build/gcc/dictLog
build/devices/qca4020/xsProj/build/gcc/output/
tools/xsbug-log/node_modules/
tools/xsbug-log/package-lock.json
